<div class="flex flex-col space-y-5 h-full">
    <div class="w-full h-[45vh] flex grow space-x-5">
        <div data-aos="zoom-in-right" data-aos-duration="700" class="grow w-2/3 cust-bounce-hover">
            <div class="rounded-2xl relative h-full card-sp flex justify-center items-center">
                <div class="bg-card-background text-white rounded-2xl p-5 h-full flex flex-col justify-evenly">
                    <div class="text-2xl leading-4">
                        <span class="text-violet-400"> aboutMe( )</span>
                        <span class="text-pink-300"> &#123;</span>
                    </div>
                    <div class="text-lg py-2 pl-5 text-justify leading-6">
                        I am a passionate and self-assured Full Stack Developer with over 2+ years of hands-on experience. Armed with a
                        <span class="text-cyan-300">B.Sc. in Computer Science,</span> my expertise lies in crafting remarkable web and
                        hybrid mobile applications. I take pride in my problem-solving abilities, which empower me to tackle challenges
                        head-on. My insatiable thirst for knowledge drives me to continuously learn and grow in the ever-evolving tech
                        landscape. On the <b class="text-red-400 font-semibold">frontend</b>, I confidently work with
                        <span class="text-red-400">Angular Framework, RxJs, TailwindCSS, and Ionic,</span>
                        while on the <b class="text-yellow-200 font-semibold">backend</b>, I excel in
                        <span class="text-yellow-200">NodeJs, NestJs, ExpressJs, and Prisma.</span>
                        My prowess extends to <b class="text-green-300 font-semibold">database</b> management with
                        <span class="text-green-300"> MongoDB and PostgreSQL,</span>
                        and I am well-versed in Git & Github. Let's create exceptional digital experiences together!
                    </div>
                    <div class="text-2xl leading-4 text-pink-300">&#125;</div>
                </div>
            </div>
        </div>

        <div data-aos="zoom-in-left" data-aos-duration="800" class="w-1/3 h-full flex items-center justify-center">
            <app-lottie [fileName]="'about-me'" [height]="'325'"></app-lottie>
        </div>
    </div>

    <div class="w-full h-[45vh] flex grow space-x-5">
        <div data-aos="zoom-in-right" data-aos-duration="800" class="w-1/4 h-full">
            <app-lottie [fileName]="'experience'" [height]="'320'"></app-lottie>
        </div>

        <div data-aos="zoom-in-left" data-aos-duration="900" class="grow w-3/4 cust-bounce-hover">
            <div class="rounded-2xl relative h-full card-sp flex justify-center items-center">
                <div class="bg-card-background text-white rounded-2xl p-5 h-full flex flex-col justify-evenly">
                    <div class="text-2xl leading-4">
                        <span class="text-violet-400">experience( )</span>
                        <span class="text-pink-300"> &#123;</span>
                    </div>

                    <div class="py-2 text-justify leading-6">
                        <div class="flex items-center space-x-2">
                            <app-lottie [fileName]="'right-arrow'" [height]="'35'"></app-lottie>
                            <div class="text-md">
                                <span class="text-red-400 pr-1">Angular Developer</span>
                                |
                                <a
                                    href="https://www.linkedin.com/company/resultier/"
                                    target="_blank"
                                    class="inline-flex underline cust-bounce cursor-pointer text-blue-400 font-semibold px-1"
                                    >Resultier</a
                                >
                                |
                                <span class="italic text-lime-200 pl-1">April 2022 - December 2022</span>
                            </div>
                        </div>

                        <div class="pl-11 text-sm leading-5">
                            I worked, with a very diverse team of brilliant developers, on a cutting-edge health-tech application built
                            using latest Angular versions and took charge of crafting and solving intricate frontend logic. Notably, I
                            successfully tackled complex data-table and form interactions, including the challenging HCFA, contributing to
                            the application's seamless and efficient user experience.
                        </div>
                    </div>

                    <div class="py-2 text-justify leading-6">
                        <div class="flex items-center space-x-2">
                            <app-lottie [fileName]="'right-arrow'" [height]="'35'"></app-lottie>
                            <div class="text-md">
                                <span class="text-emerald-300 pr-1">Full Stack Developer</span>
                                |
                                <a
                                    href="https://www.linkedin.com/company/cuebites/"
                                    target="_blank"
                                    class="inline-flex underline cust-bounce cursor-pointer text-blue-400 font-semibold px-1"
                                    >Cuebites</a
                                >
                                |
                                <span class="italic text-lime-200 pl-1">January 2023 - Present</span>
                            </div>
                        </div>

                        <div class="pl-11 text-sm leading-5">
                            I contributed to the development of CRM and HRM solution applications. On the frontend, I specialized in
                            leveraging the latest Angular framework version for a seamless user experience. On the backend, I worked with
                            microservices using NestJs and .Net Core frameworks. I took charge of writing and solving complex logic for
                            inventory, delivery, employee management functions, and more, ensuring the applications' efficiency and
                            effectiveness.
                        </div>
                    </div>

                    <div class="text-2xl leading-4 text-pink-300">&#125;</div>
                </div>
            </div>
        </div>
    </div>
</div>
