<div
    class="text-white w-full md:w-[4.5rem] h-[4.5rem] md:h-full rounded-2xl bg-gradient-to-r md:bg-gradient-to-b from-nav-up to-nav-down flex md:flex-col justify-evenly items-center drop-shadow-nav hover:drop-shadow-nav-hover cust-bounce-hover transition-all"
>
    <div
        (click)="scrollTrigger('profile')"
        class="relative h-4/5 md:h-auto bg-nav-anchor rounded-lg md:mx-1 hover:bg-nav-hover text-nav-text hover:text-white flex md:flex-col justify-center items-center md:pb-4 drop-shadow-anchor transition-all"
    >
        <app-lottie [fileName]="'profile-nav'" [height]="'64'"></app-lottie>
        <span class="absolute hidden md:flex bottom-0.5 font-medium">Intro</span>
    </div>

    <div
        (click)="scrollTrigger('about')"
        class="relative h-4/5 md:h-auto bg-nav-anchor rounded-lg md:mx-1 hover:bg-nav-hover text-nav-text hover:text-white flex md:flex-col justify-center items-center md:pt-2 md:pb-6 drop-shadow-anchor transition-all"
    >
        <app-lottie [fileName]="'about-nav'" [height]="'50'" [width]="'64'"></app-lottie>
        <span class="absolute hidden md:flex bottom-0.5 font-medium">About</span>
    </div>

    <div
        (click)="scrollTrigger('skills')"
        class="relative h-4/5 md:h-auto bg-nav-anchor rounded-lg md:mx-1 hover:bg-nav-hover text-nav-text hover:text-white flex md:flex-col justify-center items-center md:pt-1 md:pb-6 drop-shadow-anchor transition-all"
    >
        <app-lottie [fileName]="'skills-nav'" [height]="'50'" [width]="'64'"></app-lottie>
        <span class="absolute hidden md:flex bottom-0.5 font-medium">Skills</span>
    </div>

    <div
        (click)="scrollTrigger('projects')"
        class="relative h-4/5 md:h-auto bg-nav-anchor rounded-lg md:mx-1 hover:bg-nav-hover text-nav-text hover:text-white flex md:flex-col justify-center items-center md:pt-1 md:pb-6 drop-shadow-anchor transition-all"
    >
        <app-lottie [fileName]="'projects'" [height]="'50'" [width]="'64'"></app-lottie>
        <span class="absolute hidden md:flex bottom-0.5 font-medium">Projects</span>
    </div>
    <div
        (click)="scrollTrigger('contact')"
        class="relative h-4/5 md:h-auto bg-nav-anchor rounded-lg md:mx-1 hover:bg-nav-hover text-nav-text hover:text-white flex md:flex-col justify-center items-center md:pb-5 drop-shadow-anchor transition-all"
    >
        <app-lottie [fileName]="'contact'" [height]="'60'" [width]="'64'"></app-lottie>
        <span class="absolute hidden md:flex bottom-0.5 font-medium">Contact</span>
    </div>
</div>
