<div class="h-full flex flex-col">
    <div class="text-white text-5xl font-semibold text-center py-5">Skills</div>

    <div class="flex flex-col justify-evenly space-y-5 grow">
        <div class="flex flex-col md:flex-row items-center space-y-5 md:space-y-0">
            <div
                data-aos="flip-right"
                data-aos-duration="1000"
                class="flex flex-col items-center justify-center space-y-2 md:space-y-4 md:w-1/6"
            >
                <app-lottie [fileName]="'strength'" [height]="'100'"></app-lottie>
                <div class="text-2xl font-semibold text-white">Strengths</div>
            </div>

            <div data-aos="zoom-in-right" data-aos-duration="700" class="grow md:w-5/6 cust-bounce-hover">
                <div class="rounded-2xl relative h-full card-sp flex justify-center items-center">
                    <div
                        class="flex flex-wrap justify-center md:justify-evenly items-center md:pt-8 bg-card-background text-white rounded-2xl p-5 h-full w-full"
                    >
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-angular" src="assets/images/angular.svg" alt="Technoloy Icon" />
                            <span class="md:text-xl font-semibold">Angular</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-tailwind" src="assets/images/tailwind.svg" alt="Technoloy Icon" />
                            <span class="md:text-xl font-semibold">TailwindCSS</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-ionic" src="assets/images/ionic.svg" alt="Technoloy Icon" />
                            <span class="md:text-xl font-semibold">Ionic</span>
                        </span>

                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-nest" src="assets/images/nestjs.svg" alt="Technoloy Icon" />
                            <span class="md:text-xl font-semibold">NestJS</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-node" src="assets/images/nodejs.svg" alt="Technoloy Icon" />
                            <span class="md:text-xl font-semibold">Node.js</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-mongo" src="assets/images/mongodb.svg" alt="Technoloy Icon" />
                            <span class="md:text-xl font-semibold">MongoDB</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-git" src="assets/images/github.svg" alt="Technoloy Icon" />
                            <span class="md:text-xl font-semibold">GitHub</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col md:flex-row items-center space-y-5 md:space-y-0">
            <div
                data-aos="flip-right"
                data-aos-duration="1200"
                class="flex flex-col items-center justify-center space-y-2 md:space-y-4 md:w-1/6"
            >
                <app-lottie [fileName]="'punch'" [height]="'120'"></app-lottie>
                <div class="text-2xl font-semibold text-white">Advanced</div>
            </div>

            <div data-aos="zoom-in-right" data-aos-duration="700" class="grow md:w-5/6 cust-bounce-hover">
                <div class="rounded-2xl relative h-full card-sp flex justify-center items-center">
                    <div
                        class="flex flex-wrap justify-center md:justify-evenly items-center md:pt-8 bg-card-background text-white rounded-2xl p-5 h-full w-full"
                    >
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-angular" src="assets/images/expressjs.svg" alt="Technoloy Icon" />
                            <span class="text-xl font-semibold">Express.js</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-tailwind" src="assets/images/rxjs.svg" alt="Technoloy Icon" />
                            <span class="text-xl font-semibold">RxJS</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-ionic" src="assets/images/postgresql.svg" alt="Technoloy Icon" />
                            <span class="text-xl font-semibold">PostgreSQL</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-nest" src="assets/images/mysql.svg" alt="Technoloy Icon" />
                            <span class="text-xl font-semibold">MySQL</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-node" src="assets/images/prisma.svg" alt="Technoloy Icon" />
                            <span class="text-xl font-semibold">Prisma</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-mongo" src="assets/images/redis.svg" alt="Technoloy Icon" />
                            <span class="text-xl font-semibold">Redis</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-git" src="assets/images/git.svg" alt="Technoloy Icon" />
                            <span class="text-xl font-semibold">Git</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col md:flex-row items-center space-y-5 md:space-y-0">
            <div
                data-aos="flip-right"
                data-aos-duration="1500"
                class="flex flex-col items-center justify-center space-y-2 md:space-y-4 md:w-1/6"
            >
                <app-lottie [fileName]="'thumbs-up'" [height]="'100'"></app-lottie>
                <div class="text-2xl font-semibold text-white">Familiar</div>
            </div>

            <div data-aos="zoom-in-right" data-aos-duration="700" class="grow md:w-5/6 cust-bounce-hover">
                <div class="rounded-2xl relative h-full card-sp flex justify-center items-center">
                    <div
                        class="flex flex-wrap justify-center md:justify-evenly items-center md:pt-8 bg-card-background text-white rounded-2xl p-5 h-full w-full"
                    >
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-angular" src="assets/images/ngrx.svg" alt="Technoloy Icon" />
                            <span class="text-xl font-semibold">NgRx</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-tailwind" src="assets/images/socket-io.svg" alt="Technoloy Icon" />
                            <span class="md:text-xl font-semibold">Socket.IO</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-ionic" src="assets/images/auth0.svg" alt="Technoloy Icon" />
                            <span class="md:text-xl font-semibold">Auth0</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-nest" src="assets/images/dotnet.svg" alt="Technoloy Icon" />
                            <span class="md:text-xl font-semibold">.NET Core</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-node" src="assets/images/react.svg" alt="Technoloy Icon" />
                            <span class="md:text-xl font-semibold">React</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-mongo h-16" src="assets/images/leaflet.svg" alt="Technoloy Icon" />
                            <span class="md:text-xl font-semibold pt-6">Leaflet</span>
                        </span>
                        <span class="flex flex-col items-center space-y-1 w-1/3 md:w-auto">
                            <img class="w-10 md:w-20 animate-bounce-git" src="assets/images/capacitor.svg" alt="Technoloy Icon" />
                            <span class="md:text-xl font-semibold">Capacitor</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
