<div class="flex space-x-5 h-full">
    <div data-aos="zoom-in-right" data-aos-duration="700" class="cust-bounce-hover">
        <div class="rounded-2xl relative card-sp grow h-full flex justify-center items-center">
            <div class="bg-card-background text-white rounded-2xl p-5 w-full h-full flex items-start justify-center relative">
                <img class="w-full rounded-lg" src="assets/images/portfolio-site.png" alt="" />

                <div class="absolute w-3/4 h-3/4 bottom-5 rounded-xl translucent-card1 p-5 text-teal-100 flex flex-col justify-evenly">
                    <div>
                        <div class="text-3xl text-center font-semibold pt-2">Portfolio</div>
                        <div class="text-sm text-center font-light pb-2">(Angular Universal, TailwindCSS NestJS, Prisma)</div>
                    </div>
                    <div class="text-justify font-light leading-5">
                        This Web App is built using cutting-edge technologies like Angular v16, Angular Material, and Reactive Forms for a
                        seamless user experience. With TailwindCSS, it boasts a responsive design and snappy user interactions. Server-Side
                        Rendering is achieved by implementing Angular Universal which helps in enhancing performance and SEO. I incorporated
                        motion graphics with ngx-lottie component. To ensure fast and secure backend operations, I used NestJS with Fastify
                        Adapter, Rate Limiting, and Helmet library. Supabase is used as the database to save messages. Google Analytics
                        tracks page visits, while captivating animations are achieved with anime.js and aos.
                    </div>
                    <div class="text-center pt-4 flex flex-col">
                        <a
                            href="https://github.com/shoeb-gg/Portfolio_New"
                            target="_blank"
                            class="underline cust-bounce cursor-fancy hover:text-blue-700"
                            >Frontend Source Code</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-aos="zoom-in" data-aos-duration="800" class="cust-bounce-hover">
        <div class="rounded-2xl relative card-sp grow h-full flex justify-center items-center">
            <div class="bg-card-background text-white rounded-2xl p-5 w-full h-full flex items-end justify-center relative">
                <img class="w-full rounded-lg" src="assets/images/ngrx-e-com.png" alt="" />

                <div class="absolute w-3/4 h-3/4 top-5 rounded-xl translucent-card2 p-5 text-yellow-100 flex flex-col justify-evenly">
                    <div>
                        <div class="text-3xl text-center font-semibold pt-2">E-Commerce App</div>
                        <div class="text-md text-center font-light pb-2">(Angular, TailwindCSS, NgRx)</div>
                    </div>

                    <div class="text-justify font-light leading-5">
                        In this dummy e-commerce app, I've utilized Angular v15 with Angular Material and TailwindCSS to create a polished
                        and user-friendly website. The frontend showcases seamless form interactions due to usage of Reactive Forms, while
                        NgRx is used to handle complex state management tasks. Fakestoreapi serves as the reliable backend source of
                        information for the products.
                    </div>
                    <div class="text-center pt-4 flex flex-col">
                        <a
                            href="https://github.com/shoeb-gg/e-com_with_ngrx"
                            target="_blank"
                            class="underline cust-bounce cursor-fancy hover:text-blue-700"
                            >Source Code</a
                        >
                        <a
                            href="https://e-com-sgva.onrender.com"
                            target="_blank"
                            class="underline cust-bounce cursor-fancy hover:text-blue-700"
                            >Deployed Link</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="zoom-in-left" data-aos-duration="900" class="cust-bounce-hover">
        <div class="rounded-2xl relative card-sp grow h-full flex justify-center items-center">
            <div class="bg-card-background text-white rounded-2xl p-5 w-full h-full flex items-start justify-center relative">
                <img class="w-full rounded-lg" src="assets/images/timer.png" alt="" />

                <div class="absolute w-3/4 h-3/4 bottom-5 rounded-xl translucent-card3 p-5 text-rose-200 flex flex-col justify-evenly">
                    <div>
                        <div class="text-3xl text-center font-semibold pt-2">Countdown Timer</div>
                        <div class="text-md text-center font-light pb-2">(Angular, Bootstrap)</div>
                    </div>

                    <div class="text-justify font-light leading-5">
                        In this dummy project, I've created a countdown timer app using Angular v14. Bootstrap is used for styling,
                        resulting in a sleek and visually appealing design. As the timer ticks down, a tiny surprise awaits you when it
                        reaches zero. I'm excited to hear what you think about that!
                    </div>
                    <div class="text-center pt-4 flex flex-col">
                        <a
                            href="https://github.com/shoeb-gg/Timer_App_Angular/"
                            target="_blank"
                            class="underline cust-bounce cursor-fancy hover:text-blue-700"
                            >Source Code</a
                        >
                        <a
                            href="https://timerofshoeb.netlify.app/"
                            target="_blank"
                            class="underline cust-bounce cursor-fancy hover:text-blue-700"
                            >Deployed Link</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
