<div class="flex flex-col space-y-5 h-full">
    <div data-aos="zoom-in-right" data-aos-duration="700" class="grow cust-bounce-hover">
        <div class="rounded-2xl relative h-full card-sp flex justify-center items-center">
            <div class="bg-card-background text-white rounded-2xl p-10 flex flex-col justify-evenly h-full w-full space-y-2 md:space-y-0">
                <div class="text-5xl md:text-6xl font-medium flex items-end space-x-1 color-change-anim">
                    <span>Hi</span>
                    <app-lottie [fileName]="'hello'" [height]="'60'"></app-lottie>
                </div>
                <span class="text-2xl md:text-5xl text-end md:text-center font-bold text-teal-200 ml2">this is Shoeb Uddin Ahmed</span>
                <div class="text-lg md:text-4xl text-end font-semibold text-pink-300">
                    &#60;<span *ngIf="showSpace">&nbsp;&nbsp;</span>Full Stack Developer<span *ngIf="showSpace">&nbsp;&nbsp;</span
                    >&#47;&#62;
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col md:flex-row space-y-5 md:space-y-0 space-x-0 md:space-x-5 grow">
        <span
            data-aos="flip-left"
            data-aos-duration="800"
            class="bg-card-yellow text-black font-bold rounded-2xl p-5 flex flex-col items-center justify-center text-center w-full md:w-1/3 md:space-y-2 cust-bounce-hover"
        >
            <span class="text-5xl">2+</span>
            <span class="text-3xl">Years Experience</span>
        </span>

        <span
            (click)="downloadResume()"
            data-aos="flip-down"
            data-aos-duration="800"
            class="bg-card-pink hover:bg-card-pink-hover text-white text-2xl font-bold rounded-2xl p-5 flex flex-col items-center justify-center text-center w-full md:w-1/3 cust-bounce"
        >
            <app-lottie [fileName]="'download-resume'" [height]="'110'"></app-lottie>

            <div class="pt-5">Download Resume</div>
        </span>

        <span
            data-aos="flip-right"
            data-aos-duration="800"
            class="bg-card-green text-white text-3xl font-bold rounded-2xl p-5 flex flex-col items-center justify-center text-center w-full md:w-1/3 space-y-2 cust-bounce-hover"
        >
            <span class="text-5xl">8+</span>
            <span class="text-3xl">Project Contributions</span>
        </span>
    </div>
</div>
